@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* Resettings */
html, body {
	width: 100%;
	height: 100%;
	padding: 0;
}

* {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	transition: 0.2s;
}

button { all: unset; }

button:hover { cursor: pointer; }

/* Colors */
:root {
	/* Primary */
	--blue: hsl(246, 80%, 60%);
	--light-red: hsl(15, 100%, 70%);
	--soft-blue: hsl(195, 74%, 62%);
	--light-red1: hsl(348, 100%, 68%);
	--lime-green: hsl(145, 58%, 55%);
	--violet: hsl(264, 64%, 52%);
	--soft-orange: hsl(43, 84%, 65%);
	/* Neutral */
	--very-dark-blue: hsl(226, 43%, 10%);
	--dark-blue: hsl(235, 46%, 20%);
	--desaturated-blue: hsl(235, 45%, 61%);
	--pale-blue: hsl(236, 100%, 87%);
}

/* General settings */
body {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--very-dark-blue);
}

body * { font-size: 18px; }

.dashboard {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: repeat(4, 1fr);
	gap: 2vw;
	width: 70%;
	min-height: 70%;
}

.card {
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	justify-content: flex-end;
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: 90% -5%;
}

.card-info {
	border-radius: 10px;
	background-color: var(--dark-blue);
	height: 80%;
	display: grid;
	grid-template-rows: 20% 1fr 10%;
	grid-template-columns: 1fr 10%;
	padding: 12%;
	box-sizing: border-box;
}

.card-info:hover { filter: brightness(1.8); cursor: pointer; }

.card-category {
	grid-row: 1;
	grid-column: 1;
	color: white;
}

.card-menu {
	grid-row: 1;
	grid-column: 2;
}

.card-menu:hover { filter: brightness(2); }

.hours {
	grid-row: 2;
	grid-column: 1;
	align-self: center;
	font-size: 2.5rem;
	font-weight: 400;
	color: white;
}

.last-track {
	grid-row: 3;
	grid-column: 1;
	margin: 0;
	color: var(--pale-blue);
	font-size: 0.8rem;
}

#profile {
	grid-row: 1 / 3;
	grid-column: 1;
	background-color: var(--dark-blue);
}

#work {
	grid-row: 1;
	grid-column: 2;
	background-color: var(--light-red);
	background-image: url("images/icon-work.svg");
}

#play {
	grid-row: 1;
	grid-column: 3;
	background-color: var(--soft-blue);
	background-image: url("images/icon-play.svg");
}

#study {
	grid-row: 1;
	grid-column: 4;
	background-color: var(--light-red1);
	background-image: url("images/icon-study.svg");
}

#exercise {
	grid-row: 2;
	grid-column: 2;
	background-color: var(--lime-green);
	background-image: url("images/icon-exercise.svg");
	background-position: 90% -1%;
}

#social {
	grid-row: 2;
	grid-column: 3;
	background-color: var(--violet);
	background-image: url("images/icon-social.svg");
}

#self-care {
	grid-row: 2;
	grid-column: 4;
	background-color: var(--soft-orange);
	background-image: url("images/icon-self-care.svg");
}

#profile > div {
	display: flex;
	flex-direction: column;
	padding: 10%;
	background-color: var(--blue);
	border-radius: inherit;
	height: 60%;
}

#profile > div > * { width: 100%; }

#profile > div picture img {
	width: 40%;
	border: 0.5vmin solid white;
	border-radius: 50%;
}

#profile > div p { color: var(--pale-blue); }

#profile > div h3 {
	font-size: 2rem;
	font-weight: 300;
	color: white;
	margin-top: 0;
}

#profile > nav {
	display: flex;
	flex-direction: column;
	padding: 10%;
	flex: 1;
}

#profile > nav > div {
	display: flex;
	align-items: center;
	padding: 3% 0;
}

#profile > nav > div:hover { cursor: pointer; }

#profile > nav > div label {
	flex: 1;
	height: 100%;
	color: var(--desaturated-blue);
}

#profile > nav input[type=radio] {
	display: inline;
	-webkit-appearance: none;
}

#profile > nav input[type=radio]:checked+label {
	color: white;
}

#profile > nav label:hover {
	color: white;
	cursor: pointer;
}

/* Mobile settings */
@media screen and (max-width: 1080px) {
	html, body {
		height: auto;
	}

	.dashboard {
		display: flex;
		flex-direction: column;
		width: 90%;
		height: 100%;
		justify-content: flex-start;
		box-sizing: border-box;
		margin: 10% 0;
	}

	.card {
		margin: 2% 0;
	}

	.card-info {
		margin-top: 15%;
	}

	#profile > div {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 40% 1fr;
		height: 30%;
		align-items: center;
	}

	#profile > div picture {
		grid-row: 1 / 3;
		grid-column: 1;
	}

	#profile > div p {
		grid-row: 1;
		grid-column: 2;
		font-size: 1rem;
		margin: 0;
	}

	#profile > div h3 {
		grid-row: 2;
		grid-column: 2;
		font-size: 1.2rem;
		margin: 0;
	}

	#profile > nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
